.ant-table-row-revise_status--pending
  background-color lightyellow

.ant-table-row-revise_status--waiting
  background-color lightpink

.ant-table-row-revise_status--hold
  background-color lightblue

.ant-table-row-revise_status--corrected,
.ant-table-row-revise_status--confirmed
  background-color lightgreen
